{{template "base".}}

{{define "content"}}
    <div class="main-content-wrapper">
        <section>
            <div class="container">
                <div class="row justify">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block" alt="room image" >
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="text-center mt-3">Generals Quarters</h1>
                        <p>Best Western Envoy Inn is less than 2 km from Ripley's Believe It or Not museum and the
                            Convention Center. Other nearby attractions include the Noyes Museum and Blue Heron Pines
                            Golf Club.
                        </p>
                        <p>Each guestroom features cable satellite TV and complimentary WiFi. Envoy Best Western also
                            provides a complimentary newspaper each morning. Business services, such as fax and copying
                            are available. A complimentary full breakfast is also offered.
                        </p>
                        <p>We speak your language!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{{end}}

{{ define "js"}}
    <script>
        document.getElementById("check-availability-button").addEventListener('click', function () {
            let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation>
            <div class=form-row">
                <div class="col">
                    <div class="form-row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled requered class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                        </div>
                        <div class="col">
                            <input disabled requered class="form-control" type="text" name="end" id="end" placeholder="Departure">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        `;


            attention.custom({
                title: "Choose your dates",
                msg: html,
            });
        })
    </script>
{{end}}